@import '~style/helpers';

.container { 
	display: flex;
	flex-direction: column;
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 20px; //Changed from 80px.
	margin: 0 auto;
}

h2{
    display: inline;
}

h3{
    color: #fa9d13;
    display: inline;
}

section{
    border-bottom: 2px solid #e0b080;
}

footer{
    margin-left: 0.5em;
    margin-right: 0.5em;
}

p{
    border-bottom: 2px solid lightgrey;
    
}

ul{
    list-style: none;
}