input#citysearch {
    border: 5px solid rebeccapurple;
    border-radius: 10px;
    font-size: x-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section {
    cursor: pointer;
}
section:hover {
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 10px 10px black;
}